In [1]:
import pandas as pd

In [2]:
# read and create dataframe from data
df = pd.read_csv("./list_of_unicorns.csv")
df.head(20)

,Company,Valuation(US$ billions),Valuation date,Industry,Country/countries,Founder(s)
0,ByteDance,400,April 2021[12],Internet,China,"Zhang Yiming, Liang Rubo"
1,Shein,100,April 2022[13],E-commerce,China,Chris Xu
2,SpaceX,100,October 2021[14],Aerospace,US,Elon Musk
3,Stripe,95,March 2021[15],Financial services,US / Ireland,Patrick and John Collison
4,Klarna,45.6,June 2021[16],Financial technology,Sweden,"Sebastian Siemiatkowski, Niklas Adalberth, Vic..."
5,Canva,40,September 2021[17],Graphic design,Australia,"Melanie Perkins, Clifford Obrecht, Cameron Adams"
6,Checkout.com,40,January 2022[18],Financial technology,UK,Guillaume Pousaz
7,Databricks,38,August 2021[19],Software,US,Ali Ghodsi
8,Revolut,33,July 2021[20],Financial technology,UK,"Nikolay Storonsky, Vlad Yatsenko"
9,FTX,32,January 2022[21],Cryptocurrency,Bahamas,Sam Bankman-Fried and Gary Wang
10,Epic Games,31.5,April 2022[22],Video games,US,Tim Sweeney
11,Telegram,30,January 2021[23],Internet,UK / UAE,Nikolai and Pavel Durov
12,Chime,25,August 2021[24],Financial services,US,Chris Britt and Ryan King
13,Instacart,24,March 2022[25],Retail,US,"Apoorva Mehta, Max Mullen, Brandon Leonardo"
14,Byju's,21,November 2021[26],Education technology,India,"Byju Raveendran, Divya Gokulnath"
15,J&T Express,20,April 2021[27],Logistics,Indonesia,NaN
16,Xiaohongshu,20,October 2021[28],E-commerce,China,NaN
17,Fanatics,18,August 2021[29],E-commerce,US,NaN
18,Miro,17.5,January 2022[30],Software,US,NaN
19,Dunamu,17,November 2021[31],Cryptocurrency,South Korea,Song Chi-hyung

In [3]:
# split valuation date column to two columns: valuation month & valuation year
valuation = df["Valuation date"].str.split(' ', expand=True)
df["Valuation Month"] = valuation[0]
df["Valuation Year"] = valuation[1]
df.drop("Valuation date", inplace=True, axis=1)
df.loc[:, "Valuation Year"] = df["Valuation Year"].apply(lambda x: x.split("[")[0])

In [4]:
# reorder df columns
df = df.reindex(columns=["Company", "Industry", "Country/countries", "Valuation(US$ billions)", "Valuation Month", "Valuation Year", "Founder(s)"])

In [5]:
#replace '/' with ',' in country and rename country/countries column to country
df["Country/countries"] = df["Country/countries"].str.replace(" / ", ",")
df.rename(columns={"Country/countries":"Country"}, inplace=True)
df.head(20)

,Company,Industry,Country,Valuation(US$ billions),Valuation Month,Valuation Year,Founder(s)
0,ByteDance,Internet,China,400,April,2021,"Zhang Yiming, Liang Rubo"
1,Shein,E-commerce,China,100,April,2022,Chris Xu
2,SpaceX,Aerospace,US,100,October,2021,Elon Musk
3,Stripe,Financial services,"US, Ireland",95,March,2021,Patrick and John Collison
4,Klarna,Financial technology,Sweden,45.6,June,2021,"Sebastian Siemiatkowski, Niklas Adalberth, Vic..."
5,Canva,Graphic design,Australia,40,September,2021,"Melanie Perkins, Clifford Obrecht, Cameron Adams"
6,Checkout.com,Financial technology,UK,40,January,2022,Guillaume Pousaz
7,Databricks,Software,US,38,August,2021,Ali Ghodsi
8,Revolut,Financial technology,UK,33,July,2021,"Nikolay Storonsky, Vlad Yatsenko"
9,FTX,Cryptocurrency,Bahamas,32,January,2022,Sam Bankman-Fried and Gary Wang
10,Epic Games,Video games,US,31.5,April,2022,Tim Sweeney
11,Telegram,Internet,"UK, UAE",30,January,2021,Nikolai and Pavel Durov
12,Chime,Financial services,US,25,August,2021,Chris Britt and Ryan King
13,Instacart,Retail,US,24,March,2022,"Apoorva Mehta, Max Mullen, Brandon Leonardo"
14,Byju's,Education technology,India,21,November,2021,"Byju Raveendran, Divya Gokulnath"
15,J&T Express,Logistics,Indonesia,20,April,2021,NaN
16,Xiaohongshu,E-commerce,China,20,October,2021,NaN
17,Fanatics,E-commerce,US,18,August,2021,NaN
18,Miro,Software,US,17.5,January,2022,NaN
19,Dunamu,Cryptocurrency,South Korea,17,November,2021,Song Chi-hyung

In [7]:
# change Valuation(US$ billions) values to int and rename to Valuation ($B)
df["Valuation(US$ billions)"] = df["Valuation(US$ billions)"].str.replace("+","", regex=True)
df.rename(columns={"Valuation(US$ billions)":"Valuation ($B)"}, inplace=True)
valuation_ser = pd.Series(df["Valuation ($B)"])
pd.to_numeric(valuation_ser, downcast='signed')
df.tail(15)

,Company,Industry,Country,Valuation ($B),Valuation Month,Valuation Year,Founder(s)
620,Xiaozhu.com,NaN,China,1,November,2017,NaN
621,Yanolja,NaN,South Korea,1,February,2019,NaN
622,YH Global,Telecommunications,China,1,September,2017,NaN
623,Yidian Zixun,NaN,China,1,October,2017,NaN
624,Yitu Technology,NaN,China,1,July,2018,NaN
625,YunQuNa,Logistics,China,1,May,2021,NaN
626,Zenoti,Software company,"India, US",1,December,2020,NaN
627,Zhaogang.com,NaN,China,1,July,2017,NaN
628,Zhuanzhuan,NaN,China,1,April,2017,NaN
629,Zigbang,Real Estate,South Korea,1,July,2021,NaN
630,Zuoyebang,NaN,China,1,July,2018,NaN
631,Einride,Technology,Sweden,1.44,April,2022,NaN
632,Voi,NaN,Sweden,1,April,2022,NaN
633,Bitkub,Financial technology,Thailand,1,November,2021,NaN
634,Nagad,Financial services,Bangladesh,1,April,2022,Rahel Ahmed

In [8]:
# Delete Founders Column
del df["Founder(s)"]

# Delete Null Valuation Value rows
df = df.dropna(subset=["Valuation ($B)", "Industry"])

In [ ]:
# Export Clean Data to new File
clean = df.to_excel("./unicorns_clean.xlsx", index=False, header=True)